/* Body */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #E1BB80;
    margin: 0px;
    padding: 0px;
}

/* Mainpage stuff */
.mainpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    min-height: 100vh;
}

.mainpage-header {
    grid-column: 1 / -1;
}

/* Header */

header {
    text-align: center;
    left: 50%;
    margin: auto;
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.mainpage-header {
    grid-column: 1 / -1;
    padding-bottom: 20px;
}

/* Märkenfönstret */
.markengrid {
    padding-left: 30px;
    display: grid;
}

.marken {
    height: 50px;
    border: 5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px; 
    text-align: center;
}

.prada, .lv, .gucci, .dior {
    display: grid;
    height: 100px;
    border: 2px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px; 
    text-align: center;
    margin-top: 20px;
    align-content: center;
}

/* Designfönstret */
.designgrid {
    padding-right: 30px;
    display: grid;
}

.design {
    height: 50px;
    border: 5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;   
    text-align: center;
}

.stella, .rei, .virgil, .amcq{
    display: grid;
    height: 100px;
    border: 2px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px; 
    text-align: center;
    margin-top: 20px;
    align-content: center;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;

    background-color: #806443;
    grid-column: 1/-1;
    margin-top: 20px;
}

footer div {
    border: 1px solid transparent;
}

.left {
    justify-self: start;
}

.center  {
    justify-self: center;
}

.right {
    justify-self: end;
}


/* Annat */ 
a {
    text-decoration: none;
    color: black;
}

/* Mini headers */

.mheader{
    text-align: center;
    grid-column: 1 / -1;
}

/* Subpage */

.subpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px 50px auto;
    column-gap: 50px;
    min-height: 100vh;
}

.subpage header {
    grid-column: 1 / -1;
}

.subpage .mheader {
    grid-column: 1 / -1;
}


/* Lådor */ 

.factbox{
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 20px;

    text-align: center;
}

.factbox h1{
    margin: 0;
}

.factbox p:first-of-type {
    margin-top: 10px;
}

.textbox {
    border: 1px solid black;

    margin-top: 20px;
    margin-right: 20px;

    text-align: left;
    padding-left: 10px;
}

.textbox h1{
    margin: 0;
    text-align: center;
}

.faq {
    border: 1px solid black;
    height: 80vh;
    width: 1fr;
    
    font-size: 1.5rem;
}